<div>
  <ul class="social-network social-circle">
    <li><a href="https://www.facebook.com/CallipolisInvestigation/" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/Aurore_Alvy" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://plus.google.com/103556757613828050289" class="icoGoogle" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://www.linkedin.com/in/aurore-alvy" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
