.sticky-contact-form {
  background-color: #3A5555;
  color:  #A3EEBA;
  z-index:1;
}

.informations {
  height: 38px;
}
.btn-infos {
	/*color: white;*/
  background-color: white;
	margin-top: -3px;
}
