.sticky-contact-form {
  min-width: 310px;
  background-color: #2f2d2e;
  color:   #75e5e5;
  z-index:1;
}

.informations {
  height: 34px;
}
.btn-infos {
	/*color: white;*/
  background-color: white;
	margin-top: -3px;
}
