.service {
  padding:50px;
  text-align:justify;
}

.service-resume {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

.sub-service-resume {
  text-align: center;
  color:#666666;
}

.sub-service-block {
  vertical-align: middle;
  text-align: center;
  margin: 5px;
}

.description {
  vertical-align: middle;
  text-align: center;
}

.selected-sub-service {
  padding:20px;
}

.tarif {
  color: white;
  margin: 15px;
  padding: 15px;
  border-style: solid;
  border-color: white;
  border-radius: 35px;
}

.affix {
  top: 70px;
  /*z-index: 9999;*/
}

img {
    object-fit: contain;
}

#contact-form {
  margin-right: -15px;
}
