.service {
  padding:50px;
  text-align:justify;
}

.service-resume {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

.sub-service-block {
  vertical-align: middle;
  text-align: center;
  margin: 5px;
}

.description {
  vertical-align: middle;
  text-align: center;
}

.article {
  max-height:300px;
  overflow:scroll;
  overflow-x:hidden;
  overflow: hidden;
  padding: 25px;

  box-shadow: 1px 1px 12px #555;
  border-radius: 15px;
}

.important {
  max-height:300px;
  overflow:scroll;
  overflow-x:hidden;
  overflow: hidden;
  padding: 25px;

  box-shadow: 1px 1px 12px #555;
  border-radius: 15px;
}


.article:hover {
  overflow: auto;
  padding-right: 15px;
}

.selected-sub-service {
  padding:20px;
}

.affix {
  top: 70px;
  /*z-index: 9999;*/
}

img {
    object-fit: contain;
}

#contact-form {
  margin-right: -15px;
}
