.service {
  padding:50px;
  font-size: 20px;
  text-align:justify;
}

.sub-service-block {
  border-radius: 15px;
  box-shadow: 1px 1px 12px #555;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
}

.description {
  vertical-align: middle;
  text-align: center;
}

.article {
  height:300px;
  overflow:scroll;
  overflow-x:hidden;
  box-shadow: 1px 1px 12px #555;
  overflow: hidden;
  padding: 25px;

  color: #1B1023;
  font-family: "canada-type-gibson", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 15px;

  background-color: #798C91;
}

.important {
  height:300px;
  overflow:scroll;
  overflow-x:hidden;
  box-shadow: 1px 1px 12px #555;
  overflow: hidden;
  padding: 25px;

  color: #1B1023;
  font-family: "canada-type-gibson", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 15px;

  background-color: #798C91;
}


.article:hover {
  overflow: auto;
  padding-right: 15px;
}

.selected-sub-service {
  padding:20px;
}

.selected-sub-service-text {
  padding-top:20px;
  font-size: 17px;
}

.affix {
  top: 70px;
  z-index: 9999;
}

img {
    object-fit: cover;
}
