<div class="modal" tabindex="-1" role="dialog" id="response-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="contactService.success === true">Envoie réussi. Nous vous répondrons dès que possible.</p>
        <p *ngIf="contactService.success === false">Une erreur est survenue. Veuillez réessayer plut tard ou contactez nous directemnt pas téléphone ou par email</p>
        <i *ngIf="contactService.success !== false && contactService.success !== true"class="fa fa-circle-o-notch fa-spin" style="font-size:34px;margin-left:47%"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
