<div style="padding: 25px;">
  <div class="row" style="margin-top:25px;margin-bottom:25px">
    <div class="col-sm-12" style="text-align: center">
    	<h1 style="text-align: center">Contact</h1>
      <div [innerHTML]="company.help | safeHtml"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-offset-2">
          <h6 style="color: #30B8B8">Coordonnées :</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3" style="color: #F3AB01">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle logo" src="assets/phone.png" width="50" height="50">
              </a>
            </div>
            <div class="media-body">
              <h6>{{company.phone}}</h6>
            </div>
          </div>
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object img-circle logo" src="assets/mail.png" width="50" height="50">
                </a>
              </div>
              <div class="media-body">
                <h6>{{company.email}}</h6>
              </div>
            </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-sm-12" class="location">
          <h1 id="title-map-box" [ngStyle]="{'font-size': getFontSize()}">L'agence callipolis-investigation</h1>
          <div class="row">
            <div class="col-sm-12">
              <div class="float-center">
                <div>
                  <div style="float:left">
                      <img class="media-object img-circle logo" src="assets/pointer.png" width="50" height="50">
                  </div>
                  <div style="float:left">
                    <p style="margin:10px;color:#7F7F7F;">{{company.address}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p style="color:#30B8B8;">Nous Intervenons sur toute la région Occitanie.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
              <p style="color:#F3AB01">Nous pouvons également intervenir partout en france</p>
            </div>
          </div>
          <iframe id="map" style="height:300px;width:100%;" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyClMvOXwj_1bKHUWvxwh-DuSBGVZ75yKZ4&q=Occitanie"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-offset-3">
          <app-contact-form></app-contact-form>
        </div>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-sm-offset-1 col-sm-8">
          <h6>L'agence callipolis-investigation intervient notamment à :</h6>
          <div class="row" style="color: #7F7F7F">
            <div class="col-xs-6">
              <ul style="list-style: none;white-space: nowrap;">
                <ng-container *ngFor="let town of company.mainTowns; index as i" class="row">
                  <li *ngIf="i < company.mainTowns.length / 2">- {{town}}</li>
                </ng-container>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul style="list-style: none;white-space: nowrap;">
                <ng-container *ngFor="let town of company.mainTowns; index as i" class="row">
                  <li *ngIf="i >= company.mainTowns.length / 2">- {{town}}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <div class="col-sm-12" style="text-align: center">
      <h1 [ngStyle]="{'font-size': getFontSize()}">Contactez-nous où que vous soyez et quel que soit votre problème.</h1>
      <h4>Nous agirons rapidement, avec efficacité et discrétion.</h4>
    </div>
  </div>
</div>
