<div style="padding: 25px;">
  <div class="row" style="margin-top:25px;margin-bottom:25px">
    <div class="col-lg-12" style="text-align: center">
    	<h1>Contact</h1>
      <p style="color: rgb(58, 85, 85);">Les services propos&eacute;s sur notre site ne sont pas une liste exhaustive des demandes possibles.
      <br>Si vous n&rsquo;avez pas trouvez la situation vous concernant, n&rsquo;h&eacute;sitez pas &agrave; nous contactez pour que nous trouvions une r&eacute;ponse adapt&eacute;e &agrave; vos besoins.</p>
      <br>
      <p class="potter" style="color: #3A5555;">Vous pouvez nous contacter pour toute question, par t&eacute;l&eacute;phone, par mail ou par message via la boite de dialogue mise &agrave; votre disposition.</p>
      <p style="color: #3A5555;">Nous prenons rapidement connaissance de votre demande et vous contactons rapidement pour &eacute;tablir avec vous une r&eacute;ponse efficace et adapt&eacute;e.</p>
      <br>
      <p style="color:#474546;">Si vous le souhaiter, nous pouvons &eacute;galement convenir d&rsquo;un rendez-vous directement dans nos bureaux.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-offset-2">
          <h6 style="color: #30B8B8">Coordonnées :</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-3" style="color: #F3AB01">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle logo" src="assets/phone.png" width="50" height="50">
              </a>
            </div>
            <div class="media-body">
              <h6>06 68 65 91 26</h6>
            </div>
          </div>
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object img-circle logo" src="assets/mail.png" width="50" height="50">
                </a>
              </div>
              <div class="media-body">
                <h6>contact@callipolis-investigation.fr</h6>
              </div>
            </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-lg-12" class="location">
          <h1>L'agence callipolis-investigation</h1>
          <div class="row">
            <div class="col-lg-12">
              <div class="float-center">
                <div>
                  <div style="float:left">
                      <img class="media-object img-circle logo" src="assets/pointer.png" width="50" height="50">
                  </div>
                  <div style="float:left">
                    <p style="margin:10px;color:#7F7F7F;">Adresse : 9 rue des Violettes, 34710 Lespignan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p style="color:#30B8B8;">Nous Intervenons sur toute la région Occitanie.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
              <p style="color:#F3AB01">Nous pouvons également intervenir partout en france</p>
            </div>
          </div>
          <iframe id="map" style="height:300px;width:100%;" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyClMvOXwj_1bKHUWvxwh-DuSBGVZ75yKZ4&q=Occitanie"></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-offset-3">
          <app-contact-form></app-contact-form>
        </div>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col-lg-offset-1 col-lg-8">
          <h6>L'agence callipolis-investigation intervient notamment à :</h6>
          <div class="row" style="color: #7F7F7F">
            <div class="col-lg-6">
              <ul style="list-style: none;">
                <ng-container *ngFor="let town of mainTowns; index as i" class="row">
                  <li *ngIf="i < mainTowns.length / 2">- {{town}}</li>
                </ng-container>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul style="list-style: none;">
                <ng-container *ngFor="let town of mainTowns; index as i" class="row">
                  <li *ngIf="i >= mainTowns.length / 2">- {{town}}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <div class="col-lg-12" style="text-align: center">
      <h1>Contactez-nous où que vous soyez et quel que soit votre problème.</h1>
      <h4>Nous agirons rapidement, avec efficacité et discrétion.</h4>
    </div>
  </div>
</div>
