<div *ngIf="important || articles" class="row article-important">
  <div [ngClass]="articles ? 'col-sm-6' : 'col-sm-12'">
    <div *ngIf="important" class="row">
      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="raw">
          <div class="col-xs-12">
            <div style="float: left">
              <img src="assets/important.png" style="height:50px">
            </div>
            <div style="float: left">
              <h3 class="article-important-title">Important</h3>
            </div>
          </div>
        </div>
        <div class="raw">
          <div class="col-xs-12 article-important-body">
            <div [innerHTML]="important | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="important ? 'col-sm-6' : 'col-sm-12'">
    <div *ngIf="articles" class="row">
      <div class="visible-xs" style="height:25px"></div>
      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="raw">
          <div class="col-xs-12">
            <div style="float: left">
              <img src="assets/law.png" style="height:50px">
            </div>
            <div style="float: left">
              <h3 class="article-important-title">Articles</h3>
            </div>
          </div>
        </div>
        <div class="raw">
          <div class="col-xs-12 article-important-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div *ngFor="let article of articles; let i = index" class="panel panel-default">
                <div class="panel-heading" style="background-color: #d8d8d8;overflow: hidden;" role="tab" id="heading-{{i}}">
                    <a class="collapsed link-article" style="color: #2f2d2e;white-space: nowrap;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" aria-expanded="false">
                      {{getArticleTitle(article)}} »
                    </a>
                </div>
                <div id="collapse-{{i}}" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body" [innerHTML]="article.text | safeHtml"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
