<!-- import socials fonts -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- import google fonts -->
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Merriweather+Sans|Open+Sans" rel="stylesheet">


<div class="custom-header">
    <img src="assets/logo.png" style="height:200px">
    <div class="pull-right">
      <app-social></app-social>
      <div class="pull-right" style="direction:rtl;padding-right:20px;">
        <p>Agence de recherche privées - Détective privé</p>
        <p>Intervention 7jours/7</p>
        <p>Contectez-nous : 06 68 65 91 26</p>
      </div>
    </div>
</div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="200">
  <app-nav-bar></app-nav-bar>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
<!--<div class="custom-footer">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>-->
</div>
