<!-- import socials fonts -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- import google fonts -->
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Merriweather+Sans:300,400,700|Open+Sans" rel="stylesheet">


<div class="custom-header">
    <a routerLink="/services">
      <img src="assets/logo.png" style="height:200px">
    </a>
    <div class="pull-right">
      <div style="padding:15px"><app-social class="pull-right"></app-social></div>
      <div class="pull-right" style="text-align: right;padding-right:20px;padding-top:20px;">
        <p>Agence de recherches privées - Détective privé</p>
        <div style="color: #ffffff;white-space: nowrap;">
          <p>Intervention 7 jours / 7</p>
          <p>
            <img src="assets/phone-header.png" width="25" height="25" style="float:left;object-fit: contain;">
            <span style="margin-left:5px;float:left">{{company.phone}}</span>
            <img src="assets/email-header.png" width="25" height="25" style="margin-left:15px;float:left;object-fit: contain;">
            <span style="margin-left:5px;float:left">{{company.email}}</span>
          </p>
        </div>
      </div>
    </div>
</div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="200">
  <app-nav-bar></app-nav-bar>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row custom-footer">
    <div class="col-lg-3">
      <div>
        <div class="row" style="margin-top:10px">
          <div class="col-lg-12">
            <span>Callipolis Investigation</span>
          </div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col-lg-12">
            <div style="margin-left: -5px">
              <app-social></app-social>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div *ngIf="footerIntroduces" class="float-center" style="margin-top:35px">
        <div>
          <ng-container *ngFor="let footerIntroduce of footerIntroduces; index as i">
            <span *ngIf="i !== 0"> - </span>
            <a routerLink="/introduces/{{footerIntroduce.id}}">{{footerIntroduce.title}}</a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div style="margin-top:13px">
        <p dir="rtl">Devis Gratuit<br/>Intervention 7 jours / 7<br/>en Occitanie et dans toute la France</p>
      </div>
    </div>
  </div>
</div>
<app-message-modal></app-message-modal>
<app-response-modal></app-response-modal>
