.block {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 12px #555;
}

.side-block {
  border-radius: 15px;
  box-shadow: 1px 1px 12px #555;
  margin: 5px;
  padding-bottom: 20px;
}

.float-center {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float-center > div {
  position: relative;
  left: 50%;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
   color: #30b8b8;
}

h4, h5 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  color: 	#f3ab01;
}

h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: lighter;
}

.potter {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}


/* Search styles */
.search-result li {
  color: #333;
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  list-style-type: none;
}

.search-result li:hover {
  background-color: rgb(238, 238, 238);
}

.search-result li a {
  color: #333;
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.search-result {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 12px 0px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  margin-top: 0;
  padding-left: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 3;
}
