.block {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 12px #555;
}

.side-block {
  border-radius: 15px;
  box-shadow: 1px 1px 12px #555;
  margin: 5px;
  padding-bottom: 20px;
}

.float-center {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float-center > div {
  position: relative;
  left: 50%;
}
