<h1>Qui sommes-nous?</h1>

<h2>L’agence</h2>
<p>
  L’agence Callipolis Investigation a été créée et est gérée par Aurore Alvy. Cette jeune femme diplômée en Droit à l’Université de Nîmes et en Psychologie et Anthropologie à l’Université Paul Valéry à Montpellier. Les valeurs qu’elle a voulu transmettre à son entreprise sont la justice sociale, le respect, la loyauté, l’éthique, la bienveillance et l’égalité.
</p>
<p>
  À l’aide de collaborateurs de confiance et qualifiés dans des domaines différents, l’agence Callipolis Investigation est basée sur un principe simple : vous aider au mieux.
  Parce qu’il n’y a pas de problème qui ne mérite pas d’être résolu, nous vous invitons à nous faire confiance pour améliorer votre vie.
</p>
<p>
  Notre but est de vous aider à défendre vos intérêts et vos droits, que ce soit dans votre vie privée ou dans votre vie professionnelle. Callipolis Investigation est plus qu’une agence de recherches privées, c’est une écoute attentive et une réponse éclairée à vos besoins, toutes deux basées sur la dimension humaine.
</p>
<p>
  «Pour moi, être détective, ce n’est pas seulement faire des enquêtes. Pour moi, c’est un concept. J’ai choisi de faire ce métier pour pouvoir aider les autres, en mettant à profit toutes mes ressources. Je crois sincèrement qu’il suffit de petites choses pour que la vie de quelqu’un s’améliore, et y participer est une belle récompense.»
</p>
<h2>La profession d’Agent de Recherches Privées</h2>
<p>
  Les Agents de recherches Privées sont issus d’une profession réglementée et dépendent du Ministère de l’Intérieur. Le code de la Sécurité Intérieur du 12 Mars 2012, définie notre profession à l’article 621-1 comme suit : «Est soumise aux dispositions du présent titre la profession libérale qui consiste, pour une personne, à recueillir, même sans faire état de sa qualité ou de la nature de sa mission, des informations ou renseignements destinés à des tiers en vue de la défense de leurs intérêts».
</p>
<p>
  Depuis Mars 2003, les Agents de Recherches Privées sont soumis à une obligation de formation avant de pouvoir exercer.<br/>
  Il existe trois centres de formations délivrant le diplôme d’Etat inscrit au Répertoire National des Certifications Professionnelles indispensable à l’acquisition des différents agréments nécessaire à une agence. Dans le cas de l’agence Callipolis Investigation, nous sommes diplômés d’une Licence en Droit, Économie et Gestion, mention Agent de Recherches Privée (une formation dispensée par l’Université de Nîmes).<br/>
  Une obligation de formation continue est également imposée à notre profession, indispensable pour renouveler la carte professionnelle nous permettant de travailler comme enquêteur ou enquêtrice.
</p>
<p>
  Notre mission consiste à vous accompagner et vous conseiller tout au long de la résolution de votre demande, quelle qu’elle soit. Le but de notre intervention est de vous apporter les preuves matérielles nécessaires à la défense de vos intérêts, que votre contentieux vous conduise dans un tribunal ou non.
</p>
<p>
  Cependant, Callipolis Investigation répond à des obligations légales, morales, légitime et éthiques, dans le respect du Droit et des législations en vigueur, du Code de la Sécurité Intérieure et du Code de Déontologie des agents de Recherches Privées (décret n°2012-870 du 10 juillet 2012).
</p>
<p>
  Nous sommes soumis au secret professionnel et n’intervenons que si les demandes de prestations sont objectivement légales, morales et légitimes.
</p>
<p>
  Les rapports de missions qui vous seront remis au cours ou à terme de nos interventions sont strictement confidentiels, dans le respect du droit à la protection de la vie privée, se limitant à une utilisation judiciaire.
</p>
<p>
  Nos services sont à même d’être associés à une procédure légale. En effet, nous pouvons travailler avec de nombreux collaborateurs et en parallèle ou en association d’enquêtes effectuées par les Forces de l’Ordre. Nos rapports sont également utilisables comme preuve lors d’un dépôt de plainte, d’une résolution de conflit amiable ou d’un procès.<br/>
  Pour plus d’informations concernant la recevabilité du rapport d’enquête, n’hésitez pas à entrer en contact avec nous, ou à questionner votre avocat le cas échéant.
</p>
<p>
  Nous sommes agréés et contrôlés par Le CNAPS (Conseil National des Activités Privées de Sécurité) pour vous garantir efficacité et confiance, un organisme de supervision et de contrôle des activités de sécurité privée créé en 2012.
</p>
<p>
  Nous sommes soumis à une obligation de conseil et une obligation de moyen. De façon plus explicite, cela veut dire que, par obligation de conseil, nous devons être à même de répondre au mieux à votre situation, au sens juridique du terme, et de vous proposez les services les plus adaptés à vos besoins, tout au long de la réalisation de la prestation.<br/>
  L’obligation de moyens, quant à elle, nous oblige à mettre tous les moyens à notre disposition pour que notre mission arrive à terme. Elle exclut cependant l’obligation de résultat, ce qui est indispensable, car le rôle de l’agent de recherches est de trouver des preuves lorsqu’il y a effectivement quelque chose à trouver. Parfois, et c’est une bonne chose, il n’y aura aucune preuve, car rien à trouver ou sans rapport direct l’objet de votre demande.
</p>
<p>
  Tout manquement à la législation en vigueur nous expose à des sanctions prévues aux articles R621-1 et suivants du Code de la Sécurité Intérieure et à l’article 2 du Décret n°2012-870 du 10 juillet 2012 relatif au code de déontologie des personnes physiques ou morales exerçant des activités privées de sécurité.
</p>
<p>
  Pour vous accompagner et réaliser nos prestations dans les meilleures conditions, nous sommes accompagner par des collaborateurs et prestataires de qualité lorsque cela est nécessaire, notamment des professionnels du Droit (Avocats, Huissiers de Justice, Notaires).
</p>
<p>
  Callipolis Investigation est également déclarée au près de la CNIL (Commission Nationale de l’Informatique et des Libertés) pour la protection de vos données personnelles.
</p>
<h2>Le déroulement des prestations de notre agence</h2>
<p>
Vous pouvez nous joindre par téléphone ou par mails 7 jours sur 7. Nous analysons votre situation et vous recontactons le plus rapidement possible.
</p>
<p>
  Un devis détaillé et un plan stratégique adaptés à votre situation vous seront proposés.
</p>
<p>
  Après acceptation du devis, un contrat de prestation de service personnalisé selon le cadre juridique correspondant à votre prestation sera rédigé. Il regroupe l’ensemble des conditions inhérentes à nos contrats de base, ainsi que celles que nous aurons ajustées à vos besoins et votre prestation.
</p>
<p>
  Nous vous conseillons et vous informons tout au long de la réalisation de notre service, pour vous garantir le meilleur suivi possible.
</p>
<p>
  Au terme de notre intervention, nous vous remettons un rapport détaillé et circonstancié répondant à l’objet de votre demande, le cas échéant. Si vous le désirez, le rapport final sera rédigé pour être recevable en justice.
</p>
<p>
  (important)<br/>
  Nous vous informons que tous les éléments de preuves qui vous seront transmis, au cours ou au terme de notre prestation, sont strictement confidentiels, en vue de préserver le droit au respect de la vie privée des personnes.
</p>
<p>
  (articles)<br/>
  Cour d'appel de Caen, du 4 avril 2002 : Les éléments recueillis par les constatations effectuées par un détective privé sont admissibles en justice selon les mêmes modalités et sous les seules mêmes réserves pour tout autre mode de preuve.
</p>

<h2>Nos tarifs</h2>

<p>
  Le coût de nos services et prestations dépend de plusieurs facteurs, notamment :
</p>
<ul>
  <li>la nature et la complexité de votre situation</li>
  <li>les moyens matériels et stratégiques nécessaires à la prestations</li>
  <li>Les conditions d’exécution nécessaires à la prestation</li>
  <li>Les délais dont nous disposons pour exécuter la prestation.</li>
</ul>
<p>
  Nous vous proposons plusieurs options : la prestations au forfait ou le tarif horaire.
</p>
<p>
  Nous vous proposons le tarif le plus avantageux pour vous en fonction de la prestation à réaliser, mais vous restez libre de décider avec quelle option vous souhaitez payer la prestation.
</p>
<p>
  Le détails des frais vous sera présenté dans un devis (qui lui vous est proposé sans frais), de manière claire et précise. Vous pouvez demander autant de précisions et d’informations qu’il vous sera nécessaire.
</p>
