
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/services" class="hvr-underline-from-center">Accueil</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="hvr-underline-from-center">Service <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let summary_service of summary_services" class="dropdown-submenu">
              <a routerLink="/services/{{summary_service.id}}" class="dropdown-toggle" data-toggle="dropdown">
                <div class="link-container"><span class="link-text">{{summary_service.title}}</span></div>
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let sub_service of summary_service.subServices">
                  <a routerLink="/services/{{summary_service.id}}/sub-services/{{sub_service.id}}" >
                    <div class="link-container"><span class="link-text">{{sub_service.title}}</span></div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a routerLink="/introduce" class="hvr-underline-from-center">Qui sommes-nous ?</a></li>
        <li><a routerLink="/contact" class="hvr-underline-from-center">Contact</a></li>

        <li class="dropdown">
          <input data-toggle="dropdown" type="text" class="search-input" placeholder="Search for..." #searchBox (keyup)="search(searchBox.value)" >
          <ul class="dropdown-menu">
            <li *ngIf="!search_matches.length" class="disabled">
                <a>Aucun résultats</a>
            </li>
            <li *ngFor="let search_match of search_matches">
                <a routerLink="{{search_match.route}}">
                  {{search_match.title}}
                </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
