.service-horizontal-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  height: 140px;
  width: 140px;
  object-fit: contain;
}

.pull-down-right {
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: -30px;
    right: 0;
}

.pull-down-left {
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.service-vertical-block {
  vertical-align: middle;
  text-align: center;
  margin: 5px;
  margin-bottom: 20px;
}
