<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li *ngFor="let carouselIntroduce of carouselIntroduces; index as i" data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div *ngFor="let carouselPart of carousel; index as i" class="{{i === 0 ? 'item active' : 'item'}}">
            <img src="{{getImageUrl(carouselPart.image)}}" alt="...">
            <div class="carousel-caption" [ngStyle]="{'left': carouselPart.left + '%', 'right': carouselPart.right + '%', 'bottom': carouselPart.bottom + '%', 'padding-bottom': '0px'}">
              <!-- <h3>{{carouselPart.title}}</h3> -->
              <div class="hidden-xs hidden-sm hidden-md" style="font-size:40px" [innerHTML]="carouselPart.text | safeHtml"></div>
              <div class="hidden-xs hidden-sm hidden-lg" style="font-size:30px" [innerHTML]="carouselPart.text | safeHtml"></div>
              <div class="hidden-xs hidden-md hidden-lg" style="font-size:25px" [innerHTML]="carouselPart.text | safeHtml"></div>
              <div class="hidden-sm hidden-md hidden-lg" style="font-size:20px" [innerHTML]="carouselPart.text | safeHtml"></div>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div *ngFor="let service of services; index as i" class="row">
      <div class="hidden-xs col-sm-8 {{i % 2 === 0 ? 'col-sm-offset-1' : 'col-sm-offset-3'}}">
        <div class="service-horizontal-block block">
          <div class="media">
            <div *ngIf="i % 2 === 0" class="media-left media-middle">
                <img class="media-object img-circle logo"
                    [ngStyle]="{'backgroundColor': service.color}"
                    src="{{getLogoUrl(service)}}"
                >
            </div>
            <div class="media-body">
              <h3 style="text-align:center">{{service.title}}</h3>
              <span [innerHTML]="service.summary | safeHtml" style="text-align:justify;"></span>
              <div [ngClass]="i % 2 === 0 ? 'pull-right' : 'pull-left'">
                <a class="btn btn-primary" routerLink="/services/{{service.id}}">En savoir plus »</a>
              </div>
        	  </div>
            <div *ngIf="i % 2 === 1" class="media-right media-middle">
                <img class="media-object img-circle logo"
                    [ngStyle]="{'backgroundColor': service.color}"
                    src="{{getLogoUrl(service)}}"
                >
            </div>
          </div>
        </div>
      </div>
      <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <div class="service-vertical-block block">
          <img class="img-circle logo"
            [ngStyle]="{'backgroundColor': service.color}"
            src="{{getLogoUrl(service)}}"
            alt="Generic placeholder image" width="140" height="140"
          >
          <h3>{{service.title}}</h3>
          <div [innerHTML]="service.summary | safeHtml"></div>
          <p><a class="btn btn-primary" routerLink="/services/{{service.id}}" role="button">En savoir plus »</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
